<nav>
    <a href="/">Home</a>
</nav>
<ul>
    {{#each products}}
    <li>
        <p>{{this.title}}</p>
        <p>{{this.price}}</p>
        <img src={{this.thumbnail}}>
    </li>
    {{/each}}
</ul>