a(href="/productos") Productos
form(action="/", method="post") 
    label(for="title") Title: 
    input(type="text" placeholder="Title" name="title")
    label(for="price") Price: 
    input(type="text" placeholder="Price" name="price")
    label(for="thumbnail") Thumbnail: 
    input(type="text" placeholder="Thumbnail" name="thumbnail")
    button(type="submit") Subir 
div 
    include partials/show-products.pug